body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container */
.chat-container {
    width: 400px;
    height: 600px;
    background: #111827;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* header */
.header {
    padding: 15px;
    background: #267D77;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* messages */
.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* message bubbles */
.msg {
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user {
    background: #267D77;
    color: white;
    margin-left: auto;
}

.bot {
    background: #1f2937;
    color: white;
    margin-right: auto;
}

/* input */
.input-box {
    display: flex;
    padding: 10px;
    background: #0b1220;
}

.input-box input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.input-box button {
    margin-left: 8px;
    background: #267D77;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

/* typing */
.typing {
    font-size: 12px;
    color: #aaa;
    padding: 5px 10px;
}

.hidden {
    display: none;
}

.typing span {
    width: 6px;
    height: 6px;
    background: #aaa;
    display: inline-block;
    border-radius: 50%;
    margin-left: 3px;
    animation: blink 1s infinite;
}

.typing span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}